#left_layout #sidebar.nav.nav-pills.nav-stacked {
	top:0px;
	position:fixed;
	margin-bottom:0px;
	height:100%;
}
#left_layout #main_content.container-fluid {
	margin-right: 0px;
	margin-bottom: 0px;
}
.page-heading {
	position:fixed;
	width:100%;
	-moz-box-shadow: 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 1px 2px #ccc;
	box-shadow: 1px 1px 2px #ccc;
}
.table-mobile {
	
}