.console {
	position:fixed;
	width:100%;
	overflow: auto;
	height:40px;
	bottom:0px;
	left:0px;
	background-color:#fff;
	z-index:10000;
}
body {
	background-color:#fff;
}
#left_layout #sidebar.nav.nav-pills.nav-stacked {
	top:0px;
	position:fixed;
	margin-bottom:0px;
	height:100%;
	background-color:#333;
	z-index:1000;
}
#left_layout #main_content.container-fluid {
	margin: 0px;
	padding: 0px;
	position:absolute;
	top: 0px;
	left: -1px;
	width:100%;
	background-color:#fff;
}
.page-heading {
	position:fixed;
	width:100%;
	top:0px;
	left:75px;
	margin:0px;
	-moz-box-shadow: 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 1px 2px #ccc;
	box-shadow: 1px 1px 2px #ccc;
}
#primary-view {
	margin-top:75px;
	margin-left:75px;
	
}
.table-mobile td {
	border-top:0px;
	border-bottom:1px solid #ddd;
	padding-top:15px;
	padding-bottom:15px;
}
.nav-tabs {
	position:fixed;
	width:100%;
	top:75px;
	left:75px;
}
.tab-content {
	margin-top:38px;
	margin-left:1px;
	border-right:none !important;
	border-bottom:none !important;
}
.tabs-custom .tab-content .tab-pane {
	margin: 0px;
}
@media (max-width: 767px){
	.page-heading {
		left:40px;
	}
	.nav-tabs {
		top:45px;
		left:40px;
	}
	#primary-view {
		margin-top:45px;
		margin-left:40px;
	}
	/*
	#sidebar.nav-pills > li > a {
		width: 60px;
	}
	*/
}