<div class="swipeable tabs-custom">
	<ul class="nav nav-tabs swipe-tabs">
		<li class="active"><a href="#accounts" data-toggle="swipe">Accounts</a></li>
	</ul>
	<ul class="swipe-content">
		<li class="swipe-pane" id="accounts">
			<table class="table table-mobile table-stripe">
				<tbody>
					<tr ng-repeat="account in accounts">
						<td>{{account.firstName}}</td>
						<td>{{account.lastName}}</td>
						<td>{{account.emailAddress}}</td>
					</tr>
				</tbody>
			</table>
		</li>
	</ul>
</div>