<div class="swipeable tabs-custom">
	<ul class="nav nav-tabs swipe-tabs">
		<li class="active"><a href="#products" data-toggle="swipe"><i class="micon-tag"></i> <span class="hidden-phone">Products</span></a></li>
		<li class=""><a href="#brands" data-toggle="swipe"><i class="micon-tag"></i> <span class="hidden-phone">Brands</span></a></li>
		<li class=""><a href="#promotions" data-toggle="swipe"><i class="micon-tag"></i> <span class="hidden-phone">Promotions</span></a></li>
	</ul>
	<ul class="swipe-content">
		<li class="swipe-pane" id="products">
			<input class="search" />
			<table class="table table-mobile table-stripe">
				<tbody>
					<tr ng-repeat="product in products">
						<td>{{product['brand.brandName']}}</td>
						<td>{{product.productName}}</td>
						<td>{{product['productType.productTypeName']}}</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li class="swipe-pane" id="brands">
			<table class="table table-mobile table-stripe">
				<tbody>
					<tr ng-repeat="brand in brands">
						<td>{{brand.brandName}}</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li class="swipe-pane" id="promotions">
			<table class="table table-mobile table-stripe">
				<tbody>
					<tr ng-repeat="promotion in promotions">
						<td>{{promotion.promotionName}}</td>
					</tr>
				</tbody>
			</table>
		</li>
	</ul>
</div>