<div class="tabbable tabs-custom">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#products" data-toggle="tab">Products</a></li>
		<li class=""><a href="#brands" data-toggle="tab">Brands</a></li>
		<li class=""><a href="#promotions" data-toggle="tab">Promotions</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="products">
			<table class="table table-mobile table-stripe">
				<tbody>
					<tr ng-repeat="product in products">
						<td>{{product['brand.brandName']}}</td>
						<td>{{product.productName}}</td>
						<td>{{product['productType.productTypeName']}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="brands">
			<table class="table table-mobile table-stripe">
				<tbody>
					<tr ng-repeat="brand in brands">
						<td>{{brand.brandName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="promotions">
			<table class="table table-mobile table-stripe">
				<tbody>
					<tr ng-repeat="promotion in promotions">
						<td>{{promotion.promotionName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>